<template name="HomePublic">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> HomePublicSpacer}}{{> HomePublicKeyVisual}}
	</div>
</template>

<template name="HomePublicSpacer">
	<div style="margin-top: 20px;">
	</div>
</template>

<template name="HomePublicKeyVisual">
	<div class="container">
		<h2>
			GIF Monitor
		</h2>
		<div class="col-md-12" style="text-align: center;">
			<p>
				<img src="/images/keyvisual_1.jpg" style="width: 100%;" />
			</p>
			<p>
				Overview of the GIF Architecture
			</p>
		</div>
	</div>
</template>

