<template name="HomePublic">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> HomePublicSpacer}}{{> HomePublicHomeJumbotron}}
	</div>
</template>

<template name="HomePublicSpacer">
	<div style="margin-top: 20px;">
	</div>
</template>

<template name="HomePublicHomeJumbotron">
	<div class="jumbotron ">
		<div id="content" class="container">
			<h1 id="component-title">
				GIF Monitor
			</h1>
			<p id="jumbotron-text">
			</p>
			<p id="jumbotron-button">
				<a href="#" class="btn btn btn-primary btn-lg" role="button">
					Continue &raquo;
				</a>
			</p>
		</div>
	</div>
</template>

