<template name="ApplicationsDetails">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> ApplicationsDetailsForm}}
	</div>
</template>

<template name="ApplicationsDetailsForm">
	<div id="applications-details-form" class="">
		<h2 id="component-title">
			<a href="#" id="form-back-button" class="btn btn-default" title="back">
				<span class="fa fa-chevron-left">
				</span>
			</a>
			Application Details
		</h2>
		<form role="form" class="form-horizontal">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-application_id">
				<label for="application_id" class="col-sm-3 control-label">
					Application Id
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-application_id">
						{{application.application_id}}
					</p>
				</div>
			</div>
			<div class="form-group  field-metadata_id">
				<label for="metadata_id" class="col-sm-3 control-label">
					Metadata Id
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-metadata_id">
						{{application.metadata_id}}
					</p>
				</div>
			</div>
			<div class="form-group  field-premium">
				<label for="premium" class="col-sm-3 control-label">
					Premium
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-premium">
						{{application.premium}}
					</p>
				</div>
			</div>
			<div class="form-group  field-currency">
				<label for="currency" class="col-sm-3 control-label">
					Currency
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-currency">
						{{application.currency}}
					</p>
				</div>
			</div>
			<div class="form-group  field-payout_options">
				<label for="payout_options" class="col-sm-3 control-label">
					Payout Options
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-payout_options">
						{{application.payout_options}}
					</p>
				</div>
			</div>
			<div class="form-group  field-state">
				<label for="state" class="col-sm-3 control-label">
					State
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-state">
						{{applicationState application.state application}}
					</p>
				</div>
			</div>
			<div class="form-group  field-state_message">
				<label for="state_message" class="col-sm-3 control-label">
					State Message
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-state_message">
						{{application.state_message}}
					</p>
				</div>
			</div>
			<div class="form-group  field-created_at">
				<label for="created_at" class="col-sm-3 control-label">
					Created At
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-created_at">
						{{formatDate application.created_at 'DD/MM/YYYY HH:mm:ss'}}
					</p>
				</div>
			</div>
			<div class="form-group  field-updated_at">
				<label for="updated_at" class="col-sm-3 control-label">
					Updated At
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-updated_at">
						{{formatDate application.updated_at 'DD/MM/YYYY HH:mm:ss'}}
					</p>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div col-sm-9 col-sm-offset-3">
					<a href="#" id="form-close-button" class="btn btn-primary">
						OK
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

