<template name="ProductsDetails">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> ProductsDetailsForm}}
	</div>
</template>

<template name="ProductsDetailsForm">
	<div id="products-details-form" class="">
		<h2 id="component-title">
			<a href="#" id="form-back-button" class="btn btn-default" title="back">
				<span class="fa fa-chevron-left">
				</span>
			</a>
			Product Details
		</h2>
		<form role="form" class="form-horizontal">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-name">
				<label for="name" class="col-sm-3 control-label">
					Name
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-name">
						{{product.name}}
					</p>
				</div>
			</div>
			<div class="form-group  field-product_id">
				<label for="product_id" class="col-sm-3 control-label">
					Product Id
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-product_id">
						{{product.product_id}}
					</p>
				</div>
			</div>
			<div class="form-group  field-product_contract">
				<label for="product_contract" class="col-sm-3 control-label">
					Product Contract
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-product_contract">
						{{addressLink product.product_contract product}}
					</p>
				</div>
			</div>
			<div class="form-group  field-state">
				<label for="state" class="col-sm-3 control-label">
					State
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-state">
						{{productState product.state product}}
					</p>
				</div>
			</div>
			<div class="form-group  field-policy_flow">
				<label for="policy_flow" class="col-sm-3 control-label">
					Policy Flow
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-policy_flow">
						{{product.policy_flow}}
					</p>
				</div>
			</div>
			<div class="form-group  field-release">
				<label for="release" class="col-sm-3 control-label">
					Release
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-release">
						{{product.release}}
					</p>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div col-sm-9 col-sm-offset-3">
					<a href="#" id="form-close-button" class="btn btn-primary">
						OK
					</a>
					{{#if CustomActionsShowCondition}}
	{{> ProductsDetailsFormCustomActions}}
{{/if}}
				</div>
			</div>
		</form>
	</div>
</template>

<template name="ProductsDetailsFormCustomActions">
	{{#if isProductState 'Proposed' this}}
	{{> BUTTON_APPROVE}}
	{{> BUTTON_PAUSE}}
	{{/if}}

	{{#if isProductState 'Approved' this}}
	{{> BUTTON_DISAPPROVE}}
	{{> BUTTON_PAUSE}}
	{{/if}}

	{{#if isProductState 'Paused' this}}
	{{> BUTTON_APPROVE}}
	{{> BUTTON_DISAPPROVE}}
	{{/if}}
	<button class="btn btn-warning" id="btn-reload">
		Reload Product
	</button>
</template>

<template name="BUTTON_APPROVE">
	<button class="btn btn-warning" id="btn-approve">
		Approve Product
	</button>
</template>

<template name="BUTTON_DISAPPROVE">
	<button class="btn btn-warning" id="btn-propose">
		Disapprove Product
	</button>
</template>

<template name="BUTTON_PAUSE">
	<button class="btn btn-warning" id="btn-pause">
		Pause Product
	</button>
</template>

