<template name="Products">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> ProductsView}}{{> ProductsExplanationMd}}
	</div>
</template>

<template name="ProductsView">
	<div id="products-view" class="">
		<h2 id="component-title">
			Products
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				<div id="dataview-controls-search-group" class="input-group">
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<span class="input-group-btn">
						<button type="button" id="dataview-search-button" class="btn btn-primary">
							<span class="fa fa-search">
							</span>
						</button>
					</span>
				</div>
				{{#if CustomActionsShowCondition}}
	{{> ProductsViewCustomActions}}
{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> ProductsViewTable}} {{/if}}
		</div>
		<nav aria-label="...">
			<ul class="pager">
				{{#if gotPrevPage}}
				<li>
					<a href="#" class="prev-page-link">
						Previous page
					</a>
					&nbsp;
				</li>
				{{/if}}
					{{#if gotNextPage}}
				<li>
					&nbsp;
					<a href="#" class="next-page-link">
						Next page
					</a>
				</li>
				{{/if}}
			</ul>
		</nav>
		{{else}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
		{{/if}}
	</div>
</template>

<template name="ProductsViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="name">
					Name
				</th>
				<th class="th-sortable" data-sort="product_id">
					Product Id
				</th>
				<th class="th-sortable" data-sort="owner">
					Owner
				</th>
				<th class="th-sortable" data-sort="address">
					Address
				</th>
				<th class="th-sortable" data-sort="policy_flow">
					Policy Flow
				</th>
				<th class="th-sortable" data-sort="release">
					Release
				</th>
				<th class="th-sortable" data-sort="state">
					State
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each product_list_paged}} {{> ProductsViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="ProductsViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{name}}
		</td>
		<td>
			{{product_id}}
		</td>
		<td>
			{{addressLink owner this}}
		</td>
		<td>
			{{addressLink address this}}
		</td>
		<td>
			{{policy_flow}}
		</td>
		<td>
			{{release}}
		</td>
		<td>
			{{productState state this}}
		</td>
	</tr>
</template>

<template name="ProductsViewCustomActions">
	<button class="btn btn-warning" id="btn-reload">
		Reload Products
	</button>
</template>

<template name="ProductsExplanationMd">
	{{#markdown}}## What do you see here? ##
This dialog shows the products which have been registered in the framework. 
Click on a Product and you will get detailed information of the product.
{{/markdown}}
</template>

