home-image {
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container .jumbotron, .container-fluid .jumbotron {
 border-radius: 6px;
 background-color: #fff;
}

.navbar-default .navbar-brand {
 color: #fff;
}

.navbar-default {
 background-color: #5081F4 ;
 border-color: #5081F4;
}

body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: #104fb5;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #1e61f6;
    border-color: #1e61f6;
}

.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus {
 color: #fff;
 background-color: #1e61f6;
}

.navbar-default .navbar-nav > li > a {
 color: #fff;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
 color: #fff;
 background-color: #1e61f6;
}

.custom-textarea-parameters textarea {
	resize: vertical;
	height: 250px;
}
	
	
.custom-param-table td, .custom-param-table th {
	padding-left: 6px;
	padding-right: 6px;
}

.custom-param-table {
	width: 100%;
	margin-left: -6px;
}

# BpDoc 

.bpdoc-table {
	width: 100%;
	margin-left: -6px;
}

.bpdoc-table td {
	padding: 6px 10px;
}

.bpdoc-label-large {
	font-size: 16px;
	font-weight: bold;
}

.bpdoc-label-small {
	font-weight: bold;
}

.bpdoc-row-header {
	background-color: #e3ebff;
}

.bpdoc-row-data {
	
}

.bpdoc-row-spacer {
	margin-top: 20px;
}

.bpdoc-empty-cell {
	width: 30px;
}


##########################################

.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus {
 color: #fff;
 text-decoration: none;
 outline: 0;
 background-color: #1e61f6;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
 background-color: #1e61f6;
 color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
 background-color: #fff;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 3;
  color: #104fb5;
  background-color: #eeeeee;
  border-color: #ddd;
}

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
 color: #104fb5;
 background-color: transparent;
}

.btn-primary {
 color: #fff;
 background-color: #1e61f6;
 border-color: #1e61f6;
}

.btn-success {
 color: #fff;
 background-color: #41d895;
 border-color: #41d895;
}

.btn-info {
 color: #fff;
 background-color: #5081f4;
 border-color: #5081f4;
}

.btn-warning {
 color: #fff;
 background-color: #f8b83a;
 border-color: #f8b83a;
}

.btn-danger {
 color: #fff;
 background-color: #ee4620;
 border-color: #ee4620;
}


.btn-primary:hover {
 color: #fff;
 background-color: #104fb5;
 border-color: #104fb5;
}

.btn-success:hover {
 color: #fff;
 background-color: #09c979;
 border-color: #09c979;
}

.btn-info:hover {
 color: #fff;
 background-color: #1e61f6;
 border-color: #1e61f6;
}

.btn-warning:hover {
 color: #fff;
 background-color: #f59b1f;
 border-color: #f59b1f;
}

.btn-danger:hover {
 color: #fff;
 background-color: #e41700;
 border-color: #e41700;
}

.hexagon {
  content: "\2B22";
  color: #fff;
  }
