home-image {
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container .jumbotron, .container-fluid .jumbotron {
 border-radius: 6px;
 background-color: #fff;
}

.navbar-default .navbar-brand {
 color: #fff;
}

.navbar-default {
 background-color: #5081F4 ;
 border-color: #5081F4;
}

body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: #104fb5;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #1e61f6;
    border-color: #1e61f6;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
 color: #fff;
 background-color: #1e61f6;
}

.navbar-default .navbar-nav > li > a {
 color: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
 color: #fff;
 background-color: #1e61f6;
}

.custom-textarea-parameters textarea {
	resize: vertical;
	height: 250px;
}
	
	
.custom-param-table td, .custom-param-table th {
	padding-left: 6px;
	padding-right: 6px;
}

.custom-param-table {
	width: 100%;
	margin-left: -6px;
}

# BpDoc 

.bpdoc-table {
	width: 100%;
	margin-left: -6px;
}

.bpdoc-table td {
	padding-right: 10px;
	padding-left: 10px;
}

.bpdoc-label-large {
	font-size: 16px;
	font-weight: bold;
}

.bpdoc-label-small {
	font-weight: bold;
}

.bpdoc-row-header {
	background-color: #abed95;
}

.bpdoc-row-data {
}

.bpdoc-row-spacer {
	margin-top: 20px;
}

.bpdoc-empty-cell {
	width: 30px;
}