<template name="CorePublicCoreContractsPublic">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> CorePublicCoreContractsPublicView}}{{> CorePublicCoreContractsPublicExplanationMd}}
	</div>
</template>

<template name="CorePublicCoreContractsPublicView">
	<div id="core-public-core-contracts-public-view" class="">
		<h2 id="component-title">
			Contracts
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				<div id="dataview-controls-search-group" class="input-group">
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<span class="input-group-btn">
						<button type="button" id="dataview-search-button" class="btn btn-primary">
							<span class="fa fa-search">
							</span>
						</button>
					</span>
				</div>
			</div>
		</form>
		{{#if isNotEmpty}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> CorePublicCoreContractsPublicViewTable}} {{/if}}
		</div>
		<nav aria-label="...">
			<ul class="pager">
				{{#if gotPrevPage}}
				<li>
					<a href="#" class="prev-page-link">
						Previous page
					</a>
					&nbsp;
				</li>
				{{/if}}
					{{#if gotNextPage}}
				<li>
					&nbsp;
					<a href="#" class="next-page-link">
						Next page
					</a>
				</li>
				{{/if}}
			</ul>
		</nav>
		{{else}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
		{{/if}}
	</div>
</template>

<template name="CorePublicCoreContractsPublicViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="address">
					Address
				</th>
				<th class="th-sortable" data-sort="name">
					Name
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each contract_list_paged}} {{> CorePublicCoreContractsPublicViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="CorePublicCoreContractsPublicViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{addressLink address this}}
		</td>
		<td>
			{{name}}
		</td>
	</tr>
</template>

<template name="CorePublicCoreContractsPublicExplanationMd">
	{{#markdown}}## What do you see here?

This dialog displays the list of GIF core contracts.
GIF core contracts are the backbone of the GIF instance.

There are three different types of core contracts: 

- Storage Contracts
  Storage Contracts store data and provide the basic accessor functions.
Storage Contracts implement the delegator pattern, 
i.e. the on-chain storage is separated from the accessor functionality,
which can be updated.
  - Registry Contract  
The `Registry Contract` stores the metadata of all 
contracts, including itself!
  - License Contract
  The License Contract ...
  - Query Contract
  The Query Contract ...
  - Policy Contract
  The Policy Contract
  
- Service Contracts
  Service Contracts provide functionality which requires 
	{{/markdown}}
</template>

