<template name="ChainsDetails">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> ChainsDetailsForm}}
	</div>
</template>

<template name="ChainsDetailsForm">
	<div id="chains-details-form" class="">
		<h2 id="component-title">
			<a href="#" id="form-back-button" class="btn btn-default" title="back">
				<span class="fa fa-chevron-left">
				</span>
			</a>
			Chain Details
		</h2>
		<form role="form" class="form-horizontal">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-name">
				<label for="name" class="col-sm-3 control-label">
					Name
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-name">
						{{instance.name}}
					</p>
				</div>
			</div>
			<div class="form-group  field-chain_id">
				<label for="chain_id" class="col-sm-3 control-label">
					Chain Id
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-chain_id">
						{{instance.chain_id}}
					</p>
				</div>
			</div>
			<div class="form-group  field-registry_addr">
				<label for="registry_addr" class="col-sm-3 control-label">
					Registry Address
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-registry_addr">
						{{instance.registry_addr}}
					</p>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div col-sm-9 col-sm-offset-3">
					<a href="#" id="form-close-button" class="btn btn-primary">
						OK
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

