<template name="PoliciesPublicApplicationsPublic">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> PoliciesPublicApplicationsPublicView}}{{> PoliciesPublicApplicationsPublicExplanationMd}}
	</div>
</template>

<template name="PoliciesPublicApplicationsPublicView">
	<div id="policies-public-applications-public-view" class="">
		<h2 id="component-title">
			Applications
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				<div id="dataview-controls-search-group" class="input-group">
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<span class="input-group-btn">
						<button type="button" id="dataview-search-button" class="btn btn-primary">
							<span class="fa fa-search">
							</span>
						</button>
					</span>
				</div>
			</div>
		</form>
		{{#if isNotEmpty}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> PoliciesPublicApplicationsPublicViewTable}} {{/if}}
		</div>
		<nav aria-label="...">
			<ul class="pager">
				{{#if gotPrevPage}}
				<li>
					<a href="#" class="prev-page-link">
						Previous page
					</a>
					&nbsp;
				</li>
				{{/if}}
					{{#if gotNextPage}}
				<li>
					&nbsp;
					<a href="#" class="next-page-link">
						Next page
					</a>
				</li>
				{{/if}}
			</ul>
		</nav>
		{{else}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
		{{/if}}
	</div>
</template>

<template name="PoliciesPublicApplicationsPublicViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="bp_key">
					BP Key
				</th>
				<th class="th-sortable" data-sort="state">
					State
				</th>
				<th class="th-sortable" data-sort="created_at">
					Created At
				</th>
				<th class="th-sortable" data-sort="updated_at">
					Updated At
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each application_list_paged}} {{> PoliciesPublicApplicationsPublicViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="PoliciesPublicApplicationsPublicViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{bp_key}}
		</td>
		<td>
			{{applicationState state this}}
		</td>
		<td>
			{{formatDate created_at 'DD/MM/YYYY HH:mm:ss'}}
		</td>
		<td>
			{{formatDate updated_at 'DD/MM/YYYY HH:mm:ss'}}
		</td>
	</tr>
</template>

<template name="PoliciesPublicApplicationsPublicExplanationMd">
	{{#markdown}}## What do you see here? ##

The first stage of every business process is called "Application". 
The application contains already all details needed for countersigning by the insurance.
An application can either be declined or underwritten. 

After underwriting, an application is turned into an active policy, which represents
the actual risk transfer.

For more details, please click on an item.
{{/markdown}}
</template>

