<template name="ConfirmationDialog">
	<div class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close close-button" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">{{title}}</h4>
				</div>
				<div class="modal-body">
					<p>{{message}}</p>
				</div>
				<div class="modal-footer">
					{{#if showCancelButton}}
						<button type="button" class="btn btn-default cancel-button" data-dismiss="modal">
							{{buttonCancelTitle}}
						</button>
					{{/if}}
					<button type="button" class="btn btn-default no-button" data-dismiss="modal">
						{{buttonNoTitle}}
					</button>
					<button type="button" class="btn btn-success yes-button" data-dismiss="modal">
						{{buttonYesTitle}}
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

