<template name="ClaimsDetails">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> ClaimsDetailsForm}}
	</div>
</template>

<template name="ClaimsDetailsForm">
	<div id="claims-details-form" class="">
		<h2 id="component-title">
			<a href="#" id="form-back-button" class="btn btn-default" title="back">
				<span class="fa fa-chevron-left">
				</span>
			</a>
			Claim Details
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-claim_id">
				<label for="claim_id">
					Claim Id
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-claim_id">
						{{claim.claim_id}}
					</p>
				</div>
			</div>
			<div class="form-group  field-bp_key">
				<label for="bp_key">
					Bp Key
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-bp_key">
						{{claim.bp_key}}
					</p>
				</div>
			</div>
			<div class="form-group  field-data">
				<label for="data">
					Data
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-data">
						{{claim.data}}
					</p>
				</div>
			</div>
			<div class="form-group  field-state">
				<label for="state">
					State
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-state">
						{{claimState claim.state claim}}
					</p>
				</div>
			</div>
			<div class="form-group  field-created_at">
				<label for="created_at">
					Created At
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-created_at">
						{{formatDate claim.created_at 'DD/MM/YYYY HH:mm:ss'}}
					</p>
				</div>
			</div>
			<div class="form-group  field-updated_at">
				<label for="updated_at">
					Updated At
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-updated_at">
						{{formatDate claim.updated_at 'DD/MM/YYYY HH:mm:ss'}}
					</p>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<a href="#" id="form-close-button" class="btn btn-primary">
						OK
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

