<template name="OracleTypes">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> OracleTypesView}}{{> OracleTypesExplanationMd}}
	</div>
</template>

<template name="OracleTypesView">
	<div id="oracle-types-view" class="">
		<h2 id="component-title">
			Oracle Types
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				<div id="dataview-controls-search-group" class="input-group">
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<span class="input-group-btn">
						<button type="button" id="dataview-search-button" class="btn btn-primary">
							<span class="fa fa-search">
							</span>
						</button>
					</span>
				</div>
				{{> OracleTypesViewCustomActions}}
			</div>
		</form>
		{{#if isNotEmpty}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> OracleTypesViewTable}} {{/if}}
		</div>
		<nav aria-label="...">
			<ul class="pager">
				{{#if gotPrevPage}}
				<li>
					<a href="#" class="prev-page-link">
						Previous page
					</a>
					&nbsp;
				</li>
				{{/if}}
					{{#if gotNextPage}}
				<li>
					&nbsp;
					<a href="#" class="next-page-link">
						Next page
					</a>
				</li>
				{{/if}}
			</ul>
		</nav>
		{{else}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
		{{/if}}
	</div>
</template>

<template name="OracleTypesViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="name">
					Name
				</th>
				<th class="th-sortable" data-sort="state">
					State
				</th>
				<th class="th-sortable" data-sort="input_format">
					Input Format
				</th>
				<th class="th-sortable" data-sort="callback_format">
					Callback Format
				</th>
				<th class="th-sortable" data-sort="active_oracles">
					Active Oracles
				</th>
				<th class="th-sortable" data-sort="index">
					Index
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each oracle_type_list_paged}} {{> OracleTypesViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="OracleTypesViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{name}}
		</td>
		<td>
			{{oracleTypeState state this}}
		</td>
		<td>
			{{input_format}}
		</td>
		<td>
			{{callback_format}}
		</td>
		<td>
			{{active_oracles}}
		</td>
		<td>
			{{index}}
		</td>
	</tr>
</template>

<template name="OracleTypesViewCustomActions">
	<button class="btn btn-warning" id="btn-reload">
		Reload OracleTypes
	</button>
	<button class="btn btn-warning" id="btn-propose-oracletype">
		Propose OracleType
	</button>
</template>

<template name="OracleTypesExplanationMd">
	{{#markdown}}## What do you see here? ##

This dialog shows the available oracle types. An oracle type describes
a whole class of similar oracles, i.e. oracles which take a specific input format
and deliver a specific callback format.

Oracles can be assigned to oracle types, and products can request oracles which
have the right signature for their purpose.

The input and callback formats are defined by Solidity's `abi.encode` function described in the 
[Solidity documentation](https://docs.soliditylang.org/en/latest/units-and-global-variables.html?highlight=abi%20encode#abi-encoding-and-decoding-functions).
{{/markdown}}
</template>

