<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="apple-mobile-web-app-capable" content="yes" />	<title>
		GIF Monitor
	</title>
</head>
<template name="layout">
	{{#if isPrivateZone}}
		{{> PrivateLayout privateData}}
	{{else}}
		{{> PublicLayout publicData}}
	{{/if}}
</template>

<template name="FreeLayout">
	<div id="content" class="sticky-wrapper">
		<div id="navbar" class="navbar navbar-fixed-top navbar-default" role="navigation">
			<div class="navbar-container container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">
							Toggle navigation
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
					</button>
					<a class="navbar-brand" href="/">
						GIF Monitor
					</a>
				</div>
				<div id="menu" class="collapse navbar-collapse">
				</div>
			</div>
		</div>
		<div class="navbar-spacer">
		</div>
		{{> yield}}
	</div>
	<div id="footer" class="sticky-footer">
		<div class="footer-container container">
		</div>
	</div>
</template>

<template name="PublicLayout">
	<div id="content" class="sticky-wrapper">
		<div id="navbar" class="navbar navbar-fixed-top navbar-default" role="navigation">
			<div class="navbar-container container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">
							Toggle navigation
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
					</button>
					<a class="navbar-brand" href="/">
						GIF Monitor
					</a>
				</div>
				<div id="menu" class="collapse navbar-collapse">
					{{> PublicLayoutLeftMenu}}{{> PublicLayoutRightMenu}}
				</div>
			</div>
		</div>
		<div class="navbar-spacer">
		</div>
		{{> yield}}
	</div>
	<div id="footer" class="sticky-footer">
		<div class="footer-container container">
		</div>
	</div>
</template>

<template name="PublicLayoutLeftMenu">
	<ul id="menu-items" class="nav navbar-nav">
		<li id="menu-item-simple" class="{{menuItemClass 'home_public'}}">
			<a href="{{pathFor 'home_public'}}">
				<span class="item-title">
					Home
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'core_public'}}">
			<a href="{{pathFor 'core_public'}}">
				<span class="item-title">
					Core
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'oracles_public'}}">
			<a href="{{pathFor 'oracles_public'}}">
				<span class="item-title">
					Oracles
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'products_public'}}">
			<a href="{{pathFor 'products_public'}}">
				<span class="item-title">
					Products
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'policies_public'}}">
			<a href="{{pathFor 'policies_public'}}">
				<span class="item-title">
					Policies
				</span>
			</a>
		</li>
	</ul>
</template>

<template name="PublicLayoutRightMenu">
	<ul id="menu-items" class="nav navbar-nav navbar-right">
		<li id="menu-item-simple" class="{{menuItemClass 'login'}}">
			<a href="{{pathFor 'login'}}">
				<span class="item-title">
					Login
				</span>
			</a>
		</li>
	</ul>
</template>

<template name="PrivateLayout">
	<div id="content" class="sticky-wrapper">
		<div id="navbar" class="navbar navbar-fixed-top navbar-default" role="navigation">
			<div class="navbar-container container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">
							Toggle navigation
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
					</button>
					<a class="navbar-brand" href="/">
						GIF Monitor
					</a>
				</div>
				<div id="menu" class="collapse navbar-collapse">
					{{> PrivateLayoutLeftMenu}}{{> PrivateLayoutRightMenu}}
				</div>
			</div>
		</div>
		<div class="navbar-spacer">
		</div>
		{{> yield}}
	</div>
	<div id="footer" class="sticky-footer">
		<div class="footer-container container">
		</div>
	</div>
</template>

<template name="PrivateLayoutLeftMenu">
	<ul id="menu-items" class="nav navbar-nav">
		<li id="menu-item-simple" class="{{menuItemClass 'home_private'}}">
			<a href="{{pathFor 'home_private'}}">
				<span class="fa fa-home">
				</span>
				<span class="item-title">
					&nbsp;Home
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'chains'}}">
			<a href="{{pathFor 'chains'}}">
				<span class="item-title">
					Chains
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'contracts'}}">
			<a href="{{pathFor 'contracts'}}">
				<span class="item-title">
					Contracts
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'events'}}">
			<a href="{{pathFor 'events'}}">
				<span class="item-title">
					Events
				</span>
			</a>
		</li>
		<li id="menu-item-dropdown" class="dropdown ">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<span class="item-title">
					Oracles
				</span>
				<b class="caret">
				</b>
			</a>
			<ul id="menu-items" class="dropdown-menu">
				<li class="{{menuItemClass 'oracle_types'}}">
					<a href="{{pathFor 'oracle_types'}}">
						<span class="item-title">
							Oracle Types
						</span>
					</a>
				</li>
				<li class="{{menuItemClass 'oracles'}}">
					<a href="{{pathFor 'oracles'}}">
						<span class="item-title">
							Oracles
						</span>
					</a>
				</li>
			</ul>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'products'}}">
			<a href="{{pathFor 'products'}}">
				<span class="item-title">
					Products
				</span>
			</a>
		</li>
		<li id="menu-item-dropdown" class="dropdown ">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<span class="item-title">
					Policies
				</span>
				<b class="caret">
				</b>
			</a>
			<ul id="menu-items" class="dropdown-menu">
				<li class="{{menuItemClass 'metadata'}}">
					<a href="{{pathFor 'metadata'}}">
						<span class="item-title">
							Metadata
						</span>
					</a>
				</li>
				<li class="{{menuItemClass 'applications_public'}}">
					<a href="{{pathFor 'applications_public'}}">
						<span class="item-title">
							Applications
						</span>
					</a>
				</li>
				<li class="{{menuItemClass 'policies'}}">
					<a href="{{pathFor 'policies'}}">
						<span class="item-title">
							Policies
						</span>
					</a>
				</li>
				<li class="{{menuItemClass 'claims'}}">
					<a href="{{pathFor 'claims'}}">
						<span class="item-title">
							Claims
						</span>
					</a>
				</li>
				<li class="{{menuItemClass 'payouts'}}">
					<a href="{{pathFor 'payouts'}}">
						<span class="item-title">
							Payouts
						</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>
</template>

<template name="PrivateLayoutRightMenu">
	<ul id="menu-items" class="nav navbar-nav navbar-right">
		<li id="menu-item-simple" class="{{menuItemClass 'admin'}}">
			<a href="{{pathFor 'admin'}}">
				<span class="fa fa-wrench">
				</span>
				<span class="item-title">
					&nbsp;Admin
				</span>
			</a>
		</li>
		<li id="menu-item-dropdown" class="dropdown ">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<span class="fa fa-cog">
				</span>
				<span class="item-title">
					&nbsp;{{userEmail}}
				</span>
				<b class="caret">
				</b>
			</a>
			<ul id="menu-items" class="dropdown-menu">
				<li class="{{menuItemClass 'user_settings'}}">
					<a href="{{pathFor 'user_settings'}}">
						<span class="item-title">
							Settings
						</span>
					</a>
				</li>
				<li class="{{menuItemClass 'logout'}}">
					<a href="{{pathFor 'logout'}}">
						<span class="item-title">
							Logout
						</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>
</template>

