<template name="Metadata">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> MetadataView}}{{> MetadataExplanationMd}}
	</div>
</template>

<template name="MetadataView">
	<div id="metadata-view" class="">
		<h2 id="component-title">
			Metadata
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				<div id="dataview-controls-search-group" class="input-group">
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<span class="input-group-btn">
						<button type="button" id="dataview-search-button" class="btn btn-primary">
							<span class="fa fa-search">
							</span>
						</button>
					</span>
				</div>
				{{> MetadataViewCustomActions}}
			</div>
		</form>
		{{#if isNotEmpty}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> MetadataViewTable}} {{/if}}
		</div>
		<nav aria-label="...">
			<ul class="pager">
				{{#if gotPrevPage}}
				<li>
					<a href="#" class="prev-page-link">
						Previous page
					</a>
					&nbsp;
				</li>
				{{/if}}
					{{#if gotNextPage}}
				<li>
					&nbsp;
					<a href="#" class="next-page-link">
						Next page
					</a>
				</li>
				{{/if}}
			</ul>
		</nav>
		{{else}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
		{{/if}}
	</div>
</template>

<template name="MetadataViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="bp_key">
					BP Key
				</th>
				<th class="th-sortable" data-sort="product_id">
					Product
				</th>
				<th class="th-sortable" data-sort="has_application">
					Has Application
				</th>
				<th class="th-sortable" data-sort="has_policy">
					Has Policy
				</th>
				<th class="th-sortable" data-sort="claims_count">
					# Claims
				</th>
				<th class="th-sortable" data-sort="payouts_count">
					# Payouts
				</th>
				<th class="th-sortable" data-sort="created_at">
					Created At
				</th>
				<th class="th-sortable" data-sort="updated_at">
					Updated At
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each metadata_list_paged}} {{> MetadataViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="MetadataViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{bp_key}}
		</td>
		<td>
			{{product_id}}
		</td>
		<td>
			{{booleanToYesNo has_application}}
		</td>
		<td>
			{{booleanToYesNo has_policy}}
		</td>
		<td>
			{{claims_count}}
		</td>
		<td>
			{{payouts_count}}
		</td>
		<td>
			{{formatDate created_at 'DD/MM/YYYY HH:mm:ss'}}
		</td>
		<td>
			{{formatDate updated_at 'DD/MM/YYYY HH:mm:ss'}}
		</td>
	</tr>
</template>

<template name="MetadataViewCustomActions">
	<button class="btn btn-warning" id="btn-reload">
		Reload Metadata
	</button>
</template>

<template name="MetadataExplanationMd">
	{{#markdown}}## What do you see here? ##

For each policy, we generate a business process which collects the data needed for the different 
stages of a policy, from application, underwriting, claims handling and payouts.

The data which is common for all stages is called "Metadata". Data which is specific for a stage
is stored in additional "Application, "Policy", "Claim" and "Payout" objects.

This dialog shows a list of metadata objects of all business processes. 

For more details, please click on an item.
{{/markdown}}
</template>

