<template name="PoliciesPublicPayoutsPublic">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> PoliciesPublicPayoutsPublicComingSoon}}
	</div>
</template>

<template name="PoliciesPublicPayoutsPublicComingSoon">
	<div class="jumbotron ">
		<div id="content" class="container">
			<h1 id="component-title">
				Coming soon!
			</h1>
			<p id="jumbotron-text">
				A view on the payouts will be implemented here.
			</p>
		</div>
	</div>
</template>

