<template name="OracleTypesDetails">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> OracleTypesDetailsForm}}
	</div>
</template>

<template name="OracleTypesDetailsForm">
	<div id="oracle-types-details-form" class="">
		<h2 id="component-title">
			<a href="#" id="form-back-button" class="btn btn-default" title="back">
				<span class="fa fa-chevron-left">
				</span>
			</a>
			Oracle Type Details
		</h2>
		<form role="form" class="form-horizontal">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-name">
				<label for="name" class="col-sm-3 control-label">
					Name
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-name">
						{{oracle_type.name}}
					</p>
				</div>
			</div>
			<div class="form-group  field-state">
				<label for="state" class="col-sm-3 control-label">
					State
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-state">
						{{oracleTypeState oracle_type.state oracle_type}}
					</p>
				</div>
			</div>
			<div class="form-group  field-input_format">
				<label for="input_format" class="col-sm-3 control-label">
					Input Format
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-input_format">
						{{oracle_type.input_format}}
					</p>
				</div>
			</div>
			<div class="form-group  field-callback_format">
				<label for="callback_format" class="col-sm-3 control-label">
					Callback Format
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-callback_format">
						{{oracle_type.callback_format}}
					</p>
				</div>
			</div>
			<div class="form-group  field-active_oracles">
				<label for="active_oracles" class="col-sm-3 control-label">
					Active Oracles
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-active_oracles">
						{{oracle_type.active_oracles}}
					</p>
				</div>
			</div>
			<div class="form-group  field-assigned_oracles">
				<label for="assigned_oracles" class="col-sm-3 control-label">
					Assigned Oracles
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-assigned_oracles">
						{{assignedOracles oracle_type.assigned_oracles oracle_type}}
					</p>
				</div>
			</div>
			<div class="form-group  field-index">
				<label for="index" class="col-sm-3 control-label">
					Index
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static  control-field-index">
						{{oracle_type.index}}
					</p>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div col-sm-9 col-sm-offset-3">
					<a href="#" id="form-close-button" class="btn btn-primary">
						OK
					</a>
					{{> OracleTypesDetailsFormCustomActions}}
				</div>
			</div>
		</form>
	</div>
</template>

<template name="OracleTypesDetailsFormCustomActions">
	{{#if isOracleTypeApproved this}}
	<button class="btn btn-warning" id="btn-disapprove">
		Disapprove OracleType
	</button>
	{{else}}
	<button class="btn btn-warning" id="btn-approve">
		Approve OracleType
	</button>
	{{/if}}
	{{#if hasAssignableOracles this}}
	<button class="btn btn-warning" id="btn-assign">
		Assign Oracles
	</button>
	{{/if}}
</template>

