<template name="Instances">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> InstancesView}}{{> InstancesExplanationMd}}
	</div>
</template>

<template name="InstancesView">
	<div id="instances-view" class="">
		<h2 id="component-title">
			GIF Instances
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-insert" class="form-group {{insertButtonClass}}">
				<button type="submit" id="dataview-insert-button" class="btn btn-success">
					<span class="fa fa-plus">
					</span>
					Add new
				</button>
			</div>
			<div id="dataview-controls-search">
				<div id="dataview-controls-search-group" class="input-group">
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<span class="input-group-btn">
						<button type="button" id="dataview-search-button" class="btn btn-primary">
							<span class="fa fa-search">
							</span>
						</button>
					</span>
				</div>
			</div>
		</form>
		{{#if isNotEmpty}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> InstancesViewTable}} {{/if}}
		</div>
		<nav aria-label="...">
			<ul class="pager">
				{{#if gotPrevPage}}
				<li>
					<a href="#" class="prev-page-link">
						Previous page
					</a>
					&nbsp;
				</li>
				{{/if}}
					{{#if gotNextPage}}
				<li>
					&nbsp;
					<a href="#" class="next-page-link">
						Next page
					</a>
				</li>
				{{/if}}
			</ul>
		</nav>
		{{else}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
		{{/if}}
	</div>
</template>

<template name="InstancesViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="instance_id">
					Instance Id
				</th>
				<th class="th-sortable" data-sort="name">
					Name
				</th>
				<th class="th-sortable" data-sort="chain_name">
					Chain
				</th>
				<th class="th-sortable" data-sort="chain_id">
					Chain Id
				</th>
				<th class="th-sortable" data-sort="registry_addr">
					Registry Address
				</th>
				<th>
					&nbsp;
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each instance_list_paged}} {{> InstancesViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="InstancesViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{instance_id}}
		</td>
		<td>
			{{name}}
		</td>
		<td>
			{{chain_name}}
		</td>
		<td>
			{{chain_id}}
		</td>
		<td>
			{{registry_addr}}
		</td>
		<td class="td-icon">
			<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit">
			</span>
		</td>
		<td class="td-icon">
			<span id="delete-button" class="fa fa-trash-o {{deleteButtonClass}}" title="Delete">
			</span>
		</td>
	</tr>
</template>

<template name="InstancesExplanationMd">
	{{#markdown}}## What do you see here?

This dialog displays the list of GIF instances.
Each GIF instances is a complete deployment of the core smart contracts on an
Ethereum-like blockchain.
Etherisc provides GIF instances for the major mainnets and testnets.
{{/markdown}}
</template>

