<template name="MetadataDetails">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> MetadataDetailsForm}}{{> MetadataDetailsBpDoc}}{{> MetadataDetailsExplanationMd}}
	</div>
</template>

<template name="MetadataDetailsForm">
	<div id="metadata-details-form" class="">
		<h2 id="component-title">
			<a href="#" id="form-back-button" class="btn btn-default" title="back">
				<span class="fa fa-chevron-left">
				</span>
			</a>
			Process Details
		</h2>
		<form role="form" class="form-horizontal">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group">
				<div class="submit-div col-sm-9 col-sm-offset-3">
				</div>
			</div>
		</form>
	</div>
</template>

<template name="MetadataDetailsBpDoc">
	{{bpDoc metadata.bp_data metadata}}
</template>

<template name="MetadataDetailsExplanationMd">
	{{#markdown}}## What do you see here?

Here comes the explanation - stay tuned!
{{/markdown}}
</template>

