<template name="Events">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> EventsView}}{{> EventsExplanationMd}}
	</div>
</template>

<template name="EventsView">
	<div id="events-view" class="">
		<h2 id="component-title">
			Events
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				<div id="dataview-controls-search-group" class="input-group">
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<span class="input-group-btn">
						<button type="button" id="dataview-search-button" class="btn btn-primary">
							<span class="fa fa-search">
							</span>
						</button>
					</span>
				</div>
				{{#if CustomActionsShowCondition}}
	{{> EventsViewCustomActions}}
{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> EventsViewTable}} {{/if}}
		</div>
		<nav aria-label="...">
			<ul class="pager">
				{{#if gotPrevPage}}
				<li>
					<a href="#" class="prev-page-link">
						Previous page
					</a>
					&nbsp;
				</li>
				{{/if}}
					{{#if gotNextPage}}
				<li>
					&nbsp;
					<a href="#" class="next-page-link">
						Next page
					</a>
				</li>
				{{/if}}
			</ul>
		</nav>
		{{else}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
		{{/if}}
	</div>
</template>

<template name="EventsViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="chain_id">
					Chain Id
				</th>
				<th class="th-sortable" data-sort="timestamp">
					Timestamp
				</th>
				<th class="th-sortable" data-sort="transaction_hash">
					Transaction Hash
				</th>
				<th class="th-sortable" data-sort="contract">
					Contract
				</th>
				<th class="th-sortable" data-sort="address">
					Address
				</th>
				<th class="th-sortable" data-sort="event">
					Event
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each event_list_paged}} {{> EventsViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="EventsViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{chain_id}}
		</td>
		<td>
			{{formatDate timestamp 'DD/MM/YYYY HH:mm:ss'}}
		</td>
		<td>
			{{txLink transaction_hash this}}
		</td>
		<td>
			{{contract}}
		</td>
		<td>
			{{addressLink address this}}
		</td>
		<td>
			{{event}}
		</td>
	</tr>
</template>

<template name="EventsViewCustomActions">
	<button class="btn btn-warning" id="btn-reload">
		Reload Events
	</button>
</template>

<template name="EventsExplanationMd">
	{{#markdown}}## What do you see here? ##

This dialog shows the events of the core contracts.
Events are a part of the Ethereum protocol. They are emitted by smart contracts during
code execution and they are stored permanently on chain. They can be read without any cost.
Typically, they are used to document important changes in the smart contracts data, the "state".

Some events which are used in the GIF core contracts: 

| Contract | Event | Description |
| -------- | ----- | ----------- |
| License | LogNewProduct | A new product is created. |
| License | LogProductSetApproved | A product has been approved. | 
| License | LogProductSetPaused | A product has been paused = temporarily deactivated |
| Policy | LogApplicationStateChanged | An application has changed state, e.g. from "approved" to "underwritten" |
| Policy | LogNewApplication | A new application has been registered. |
| Policy | LogNewPolicy | A new policy has been created. |
| Query | LogOracleActivated | An oracle has been activated. |
| Query | LogOracleAssignedToOracleType | An oracle has been assigned to an oracle type. |
| Query | LogOracleProposed | A new oracle has been proposed. |
| Query	| LogOracleProposedToOracleType | An oracle has been proposed to an oracle type. |
| Query | LogOracleResponded | An oracle has responded to a request. |
| Query	| LogOracleTypeActivated | An oracle type has been activated. |
| Query	| LogOracleTypeProposed | A new oracle type has been proposed. |
| Registry | LogContractRegistered | A core contract has been registered in the Registry | {{/markdown}}
</template>

