<template name="Oracles">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> OraclesView}}{{> OraclesExplanationMd}}
	</div>
</template>

<template name="OraclesView">
	<div id="oracles-view" class="">
		<h2 id="component-title">
			Oracles
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				<div id="dataview-controls-search-group" class="input-group">
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<span class="input-group-btn">
						<button type="button" id="dataview-search-button" class="btn btn-primary">
							<span class="fa fa-search">
							</span>
						</button>
					</span>
				</div>
				{{#if CustomActionsShowCondition}}
	{{> OraclesViewCustomActions}}
{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> OraclesViewTable}} {{/if}}
		</div>
		<nav aria-label="...">
			<ul class="pager">
				{{#if gotPrevPage}}
				<li>
					<a href="#" class="prev-page-link">
						Previous page
					</a>
					&nbsp;
				</li>
				{{/if}}
					{{#if gotNextPage}}
				<li>
					&nbsp;
					<a href="#" class="next-page-link">
						Next page
					</a>
				</li>
				{{/if}}
			</ul>
		</nav>
		{{else}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
		{{/if}}
	</div>
</template>

<template name="OraclesViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="oracle_id">
					Oracle Id
				</th>
				<th class="th-sortable" data-sort="description">
					Description
				</th>
				<th class="th-sortable" data-sort="oracle_contract">
					Oracle Contract
				</th>
				<th class="th-sortable" data-sort="oracle_owner">
					Oracle Owner
				</th>
				<th class="th-sortable" data-sort="active_oracle_types">
					Active Oracle Types
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each oracle_list_paged}} {{> OraclesViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="OraclesViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{oracle_id}}
		</td>
		<td>
			{{description}}
		</td>
		<td>
			{{addressLink oracle_contract this}}
		</td>
		<td>
			{{addressLink oracle_owner this}}
		</td>
		<td>
			{{active_oracle_types}}
		</td>
	</tr>
</template>

<template name="OraclesViewCustomActions">
	<button class="btn btn-warning" id="btn-reload">
		Reload Oracles
	</button>
</template>

<template name="OraclesExplanationMd">
	{{#markdown}}## What do you see here? ##
This dialog shows the available oracles of a certain type. Here the Product-Owners can request oracles which have the right signature for their purpose.
The input and callback formats are defined by Solidity's `abi.encode` function described in the 
[Solidity documentation](https://docs.soliditylang.org/en/latest/units-and-global-variables.html?highlight=abi%20encode#abi-encoding-and-decoding-functions).
{{/markdown}}
</template>

